<h1> <%= @band.name%> <h1>
<% if admin_log_in? %>
  <%= button_to "Delete", band_url(@band), :method => "delete" %>
<% end%>

<h2>Albums<h2>
  <ol>
  <% @albums.each do |album|%>
    <li> <%= link_to album.name, album_url(album) %> </li>
    <ul>
    <% album.tracks.each do |track| %>
       <li><%= link_to track.name, track_url(track) %> </li>
    <% end %>
    </ul>
  <% end%>
</ol>

<% if admin_log_in? %>
  <%=button_to "Add Album", new_band_album_url(@band), :method => "get" %>
<% end%>